main .question-card {
  display: flex;
  flex-direction: column;
  margin: 80px;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;
  top: 50px;
  box-shadow: 3px 3px 5px grey;
}

/* 
 * Select all but the first .question card of main,
 * and remove the top margin from the previous rule.
 */
main > .question-card ~ .question-card {
  top: 0;
}

.question-card ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 15px 0;
}

.question-card ul li {
  background-color: grey;
  border-radius: 5px;
  margin-right: 15px;
  padding: 5px;
}

.bookmark {
  position: absolute;
  right: 25px;
  top: -13px;
  font-size: 26px;
  color: #ffad28;
  text-shadow: 2px 3px 3px #555;
}

.question-card button {
  max-width: 150px;
  margin: 15px;
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
