footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

footer ul li {
  display: flex;
  height: 100%;
}

footer i {
  font-size: 50px;
  color: #ffad28;
  text-shadow: 2px 3px 3px #555;
  margin: 15px;
}
